# Python virtual environment directory 
.venv/
__pycache__/

# using .env convention for api key
.env

# output directory for mungy /save(s)
.vybz/output


# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

